::-webkit-scrollbar
{
    background-color: rgba(0, 0, 0, 0.75);
    width: 14px;
}
::-webkit-scrollbar-track
{
    background-color: rgb(105, 105, 105);

    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

    border-radius: 12px;
}
::-webkit-scrollbar-thumb
{
    background-color: #f0ddbf;

    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);

    border-radius: 12px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment
{
    height: 30px;
    display: block;
    background-color: transparent;
}
::-webkit-scrollbar:window-inactive,
::-webkit-scrollbar-track
{
    background-color: rgba(0, 0, 0, 0.25);
}

body
{
    background-color: #f0ddbf;
    margin-bottom: 10px;
}

header
{
    background-color: #c3ac84;
}

footer
{
    text-align: right;
}

h1
{
    color: #990000;
}

h2, h3, h4
{
    color: #015b64;
}

th, td
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000033;
}

a
{
    text-decoration: none;
    color: #750512;
    border: none;
}
a:hover
{
    color: #c01319;
    text-decoration: underline;
}
a:active
{
    color: #750512 !important;
    text-decoration: none !important;
}

#top-products
{
    margin: 2px;
    padding: 2px;
    border: 1px;
    text-align: center;
}

main div
{
    display: inline-block;
}

main #left-sidebar
{
    float: left;
    color: white;
    text-align: center;
    background-color: #e89522;
}

main #content
{
    padding: 20px;
    height: 100%;
    float: left;
    position: absolute;
    z-index: 0;

    background-image: url("../../res/images/new_photos/background/винтовая 5_набросок.jpg");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main #right-sidebar
{
    margin-left: 10px;
    border: 3px black double;
    padding: 6px;
    max-width: 10%;
    min-width: 2.5%;
    min-height: 15%;
    overflow-x: auto;
}

main #left-sidebar *,
main #right-sidebar *
{
    display: block;
}

#menu
{
    margin: 0;
    text-align: left;
    width: 100%;
    background-color: #000033;
}

#menu a
{
    font-family: "Comic Sans MS", serif;
    font-weight: bold;
    text-align: center;
    color: darkorange;
    margin: 2px;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    height: auto;
    background-color: #000033;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

#menu a:hover
{
    color: darkgreen;
    background-color: #f0ddbf;

    transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;

    box-shadow: inset 3px 3px 6px 2px #000033;
    -o-box-shadow: inset 3px 3px 6px 2px #000033;
    -moz-box-shadow: inset 3px 3px 6px 2px #000033;
    -webkit-box-shadow: inset 3px 3px 6px 2px #000033;
}

#menu a:visited
{
    box-shadow: 0 0 2px 1px #f0ddbf;
    -o-box-shadow: 0 0 2px 1px #f0ddbf;
    -moz-box-shadow: 0 0 2px 1px #f0ddbf;
    -webkit-box-shadow: 0 0 2px 1px #f0ddbf;
}

#brand img
{
    box-shadow: 0 0 10px 4px #645a4e;
    -o-box-shadow: 0 0 10px 4px #645a4e;
    -moz-box-shadow: 0 0 10px 4px #645a4e;
    -webkit-box-shadow: 0 0 10px 4px #645a4e;

    width: 100%;
}

#open-sidebar
{
    display: none;
}