body
{
    background-color: #f0ddbf;
}

footer
{
    text-align: right;
}

h1
{
    color: #990000;
}

h2, h3, h4
{
    color: #015b64;
}

th, td
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000033;
}

a
{
    text-decoration: none;
    color: #750512;
    border: none;
}
a:hover
{
    color: #C01319;
    text-decoration: underline;
}
a:active, a:visited
{
    color: #750512;
    text-decoration: none;
}

#top-products
{
    background-color: #f0ddbf;
    margin: 2px;
    padding: 2px;
    border: 1px;
    text-align: center;
}

main div
{
    display: inline-block;
}

main div *
{
    display: block;
}

#menu
{
    margin: 0;
    text-align: left;
    background-color: #000033;
    width: 100%;
}

#menu a
{
    font-family: "Comic Sans MS", serif;
    font-weight: bold;
    text-align: center;
    color: darkorange;
    margin: 2px;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    height: auto;
    background-color: #000033;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

#menu a:hover
{
    color: darkgreen;
    background-color: #f0ddbf;

    transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;

    box-shadow: inset 3px 3px 6px 2px #000033;
    -o-box-shadow: inset 3px 3px 6px 2px #000033;
    -moz-box-shadow: inset 3px 3px 6px 2px #000033;
    -webkit-box-shadow: inset 3px 3px 6px 2px #000033;
}

#brand img
{
    box-shadow: 0 0 10px 4px #645a4e;
    -o-box-shadow: 0 0 10px 4px #645a4e;
    -moz-box-shadow: 0 0 10px 4px #645a4e;
    -webkit-box-shadow: 0 0 10px 4px #645a4e;

    width: 100%;
}